/node_modules
/public/hot
/public/storage
/public/uploads
/public/mix-manifest.json
/public/admin
/public/js
/public/admin/assets/img
/resources/admin/assets/img
/public/front/assets
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/build
/phpcs.xml

# docker
/docker/mysql/data
/docker/redis/data
