.img-cover {
    background-position: center center;
    background-size: cover;
}

.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

.w-cart-input {
    width: 200px;
}